body {
  background-image: linear-gradient(to right, #37ecba 0%, #72afd3 100%);
}

/* ================== */
/* ====  main  ===== */
/* ================== */


/* ================== */
/* ====  footer  ==== */
/* ================== */

@import url(//fonts.googleapis.com/css?family=Lato:300:400);

footer {
  width: 100%;
  position: absolute;
  bottom: auto;
}

body {
  margin: 0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}

p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #333333;
}

.footer {
  position: relative;
  text-align: center;
  color: white;
}

.inner-header {
  height: 5vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 10vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 120px;
}

.content {
  position: relative;
  height: 10vh;
  text-align: center;
  background-color: white;
}

/* Animation */

.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
  }

  h1 {
    font-size: 24px;
  }
}

/* ================*/
/* ==== herder ==== */
/* ================ */

/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
/*
font-family: 'Montserrat', sans-serif;
*/

/* DEFAULTS */
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* NAVBAR */
#tf-menu {
  margin-bottom: 0;
  background: #F7F7F7;
  border: 0;
  color: #fff !important;
  padding: 2% 0;
  transition: all 0.5s;
}

#sticky {
  padding: 0.5ex;
  background-color: #333;
  color: #fff;
  font-size: 4em;
  border-radius: 0.5ex;
}

#tf-menu.stick {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  background: #222222;
  padding: 1% 0;
}

#tf-menu.navbar-default .navbar-nav>li>a {
  color: #C5C5C5;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

#tf-menu.navbar-default .navbar-nav>li>a:hover,
#tf-menu.navbar-default .navbar-nav>li>a:focus {
  color: #72afd3;
  background-color: transparent;
}

a.navbar-brand.logo,
a.navbar-brand.logo:hover {
  color: #37ecba;
  font-size: 3em;
}

/* This was made with GlassGenerator.netlify.app */

.glass-container {
  width: 80%;
  height: 120rem;
  color: white;
  padding-top: 2rem;
  padding-left: 6rem;
  justify-content: center;
  gap: 20px;
  border-radius: 23px;
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.242);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 1px rgba(255, 255, 255, 0.4) solid;
  border-bottom: 1px rgba(40, 40, 40, 0.35) solid;
  border-right: 1px rgba(40, 40, 40, 0.35) solid;
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 8rem;
}

@media screen and (max-width: 800px) {
  .glass-container {
    width: 80%;
    height: 120rem;
    color: white;
    padding-top: 2rem;
    padding-left: 6rem;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 23px;
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.242);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 1px rgba(255, 255, 255, 0.4) solid;
    border-bottom: 1px rgba(40, 40, 40, 0.35) solid;
    border-right: 1px rgba(40, 40, 40, 0.35) solid;
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 8rem;
  }

  .glass-container div {
    font-size: 10rem;
  }

  .glass-container ul {
    font-size: 4rem;
    list-style: none;
    margin-left: 3rem;
  }
}

@media screen and (min-width: 800px) {
  .glass-container {
    width: 80%;
    height: 120rem;
    color: white;
    padding-top: 2rem;
    padding-left: 6rem;
    justify-content: center;
    gap: 20px;
    border-radius: 23px;
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.242);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 1px rgba(255, 255, 255, 0.4) solid;
    border-bottom: 1px rgba(40, 40, 40, 0.35) solid;
    border-right: 1px rgba(40, 40, 40, 0.35) solid;
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 8rem;
  }

  .glass-container div {
    font-size: 12rem;
    margin-left: 2%;
  }

  .glass-container ul {
    font-size: 4rem;
    list-style: none;
    margin-left: 8%;
  }
  .glass-container h3 {
    font-size: 4rem;
}

/* ================*/
/* == background ==*/
/* ================*/
.area {
  background: -webkit-linear-gradient(to left, #C8102E, #446eac);
  width: 100%;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -30%;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}
}